.grid-container {
    display: grid;
    grid-template-columns: 1;
}

.item1 {
    background-color: white;
    padding: 0,5rem;
    text-align: center;
    display: flex;
    position: sticky;
    justify-content: space-around;
    width: 100%;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.item2 {
    height: 100vh;
    background-color: pink;
}

.item3 {
    height: 100vh;
    background-color: lightslategray;
}

.item4 {
    height: 100vh;
    background-color: greenyellow;
}

.item5 {
    background-color: pink;
}